# Python
__pycache__/
*.pyc
.venv/
.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow/.env
# Spark
spark-warehouse/
metastore_db/

# Delta Lake Data
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db